{% extends 'base.html.twig' %}

{% block title 'Stagiaires' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des Stagiaires</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="stagiaires-table" class="table table-bordered table-hover">
                  <thead>
        <tr>
            <th data-order="nomStagiaire">Nom</th>
            <th data-order="prenomStagiaire">Prénom</th>
          
            <th data-order="genre">Genre</th>
            <th data-order="nationalite">Nationalité</th>
            <th data-order="mobile">Mobile</th>
            <th data-order="specialite">Spécialité</th>
            <th>Encadrant</th>
            <th>Stage</th>
            <th style="width: 200px;">Actions</th>
        </tr>

    </thead>

            <tbody>

        
        {% for stagiaire in stagiaires %} 
                <tr>
                    <th>{{stagiaire.nomStagiaire}}</th>
                    <th>{{stagiaire.prenomStagiaire}}</th>
                    <th>{{stagiaire.genre}}</th>
                    <th>{{stagiaire.nationalite}}</th>
                    <th>{{stagiaire.mobile}}</th>
                    <th>{{stagiaire.specialite}}</th>
                    <th>{{stagiaire.encadrant}}</th>
                    <th>{{stagiaire.stage}}</th>
                    <th style="width: 200px;">
                        
                        <a href="{{path('app_stagiaire_edit' , {id: stagiaire.id})}}" class='btn btn-success'>Modifier</a>
            

                        <a href="#" onclick="event.preventDefault(); showDeleteConfirmation({{ stagiaire.id }});" class="btn btn-danger">Supprimer</a>
                        <div class="modal" id="delete-confirmation-modal-{{ stagiaire.id }}">
                            <div class="modal-content">
                                <p>Êtes-vous sûr de vouloir supprimer cet Stagiaire ?</p>
                                <div class="modal-buttons">
                                    <button class="btn btn-danger" onclick="confirmDelete({{ stagiaire.id }});">Yes</button>
                                    <button class="btn btn-secondary" onclick="cancelDelete({{ stagiaire.id }});">No</button>
                                </div>
                            </div>
                        </div>

                        <form id="stagiaire-delete-form-{{ stagiaire.id }}" action="{{ path('app_stagiaire_delete', {id: stagiaire.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('stagiaire_deletion_' ~ stagiaire.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>

                        
                  

                      

                    </th>
                </tr>

              
            </div>
            
        {% endfor %}
        </tbody>

<script>
    $(document).ready(function() {
        $('#stagiaires-table').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [6,7,8] } // The column number (zero-based) you want to disable sorting on
            ]
        });
    });


        function showDeleteConfirmation(stagiaireId) {
            const modal = document.getElementById('delete-confirmation-modal-' + stagiaireId);
            modal.style.display = 'block';
        }

        function confirmDelete(stagiaireId) {
            const modal = document.getElementById('delete-confirmation-modal-' + stagiaireId);
            modal.style.display = 'none';

            // Submit the delete form
            const form = document.getElementById('stagiaire-delete-form-' + stagiaireId);
            form.submit();
        }

        function cancelDelete(stagiaireId) {
            const modal = document.getElementById('delete-confirmation-modal-' + stagiaireId);
            modal.style.display = 'none';
        }

</script>



{% endblock %}
